nav {
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #FFf;
  position: sticky;
  top: 0;
  z-index: 10;
}

.icons {
  font-size: 30px;
  cursor: pointer;
}

.icons_video {
  font-size: 30px;
  color: red;
  cursor: pointer;
}

.nav_left .menu_icon {
  font-size: 22px;
  margin-right: 25px;
  cursor: pointer;
}

.nav_left .logo {
  font-size: 50px;
  color: red;
  cursor: pointer;
}

.nav_left .nav_left_logo {
  display: flex;
  gap: 5px;
}

.nav_middle .search_box {
  border-radius: 25px;
  margin-right: 15px;
  border: 1px solid #ccc;
  padding: 8px 12px;
}

.nav_middle .search_box input {
  background: transparent;
  border: none;
  outline: none;
  width: 400px;
}

.nav_middle .search_box .Search {
  font-size: 25px;
  cursor: pointer;
}

.nav_right {
  display: flex;
  gap: 10px;
}

.nav_right img {
  border-radius: 50%;
  width: 35px;
  margin-right: 20px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .menu_icon {
    display: none;
  }

  .nav_right .icons {
    display: none;
  }

  .nav_right .user_icon {
    display: block;
    width: 35px;
  }

  .logo {
    width: 90px;
  }

  .nav_middle .search_box input {
    width: 100px;
  }
}