.sidebar {
  background: #FFF;
  width: 15%;
  height: 100vh;
  position: fixed;
  top: 0;
  padding-left: 2%;
  padding-top: 90px;
}

.sidebar:hover {
  overflow-y: scroll;
}

.sidebar_links .icon {
  font-size: 25px;
  margin-right: 30px;
}

.side_link {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
  flex-wrap: wrap;
  cursor: pointer;
}

.sidebar hr {
  border: 0;
  height: 1px;
  background: #ccc;
  width: 85%;
}

.sidebar_list h3 {
  font-size: 14px;
  margin: 20px 0px;
  color: #5a5a5a;
}

.sidebar_list .side_link img {
  width: 25px;
  border-radius: 50%;
  margin-right: 20px;
}

.small_sidebar {
  width: 5%;
}

.small_sidebar p {
  display: none;
}

.small_sidebar h3 {
  display: none;
}

.small_sidebar hr {
  width: 50%;
  margin-bottom: 25px;
}

.side_link.active .icon {
  padding-bottom: 2px;
  border-bottom: 3px solid red;
}

@media (max-width:900px) {
  .sidebar {
    display: none;
  }
}